@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* =======================================
General Styling
======================================= */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  color: #f1f1f1;
}

 

/* =======================================
Navbar
======================================= */


/* =======================================
More General Styling
======================================= */
.hero {
  min-height: 100vh;
    background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.6)
    ),
/*       https://mealplify.sgp1.cdn.digitaloceanspaces.com/images/hero-image-desktop.png */
/*     url(" https://mealplify.sgp1.cdn.digitaloceanspaces.com/images/hero-image-desktop.png"); */
  
     url("https://www.gutmicrobiotaforhealth.com/wp-content/uploads/2020/04/med-diet-1200x654.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

section {
  height: 100vh;
  display: grid;
  place-items: center;
}

.section-1 {
  background-color: #111;
     min-height: 100vh;
    background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.6)
    ),
/*       https://mealplify.sgp1.cdn.digitaloceanspaces.com/images/hero-image-desktop.png */
/*     url(" https://mealplify.sgp1.cdn.digitaloceanspaces.com/images/hero-image-desktop.png"); */
  
     /* url("https://i7x7p5b7.stackpathcdn.com/codrops/wp-content/uploads/2022/06/MakeWay_feat.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* .section-2 {

} */

h1 {
  font-size: 3rem;
}
